html,
body {
  height: 100%;
  width: 100%;
  font-family: "Times New Roman", Times, serif;
  background:#FFFFFF;
}

#header{
    background: #8C99A3;
    color: white;
    padding-bottom: 10px;
    margin-bottom: 15px;
}

.card-header {
  background-color:#004e72; 
  color: white;
}

.lowItems {
  background-color: red;
  color: white;
}
